body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

/*Global*/
.container {
    position: inherit;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: seashell;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #228E54 3px solid;
}

header a {
    color: #228E54;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    /*float: left;*/
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header #branding img {
    width: 90px;
    height: auto;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    font-weight: bold;
}

header a:hover {
    color: #ED994C;
    font-weight: bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    text-align: center;
    color: #228E54;
    background: url(headerphoto.jpg) no-repeat;
    background-size: cover;
    position: relative;
    filter: opacity(75%);
}

#showcase h1{
    opacity: 100%;
    margin-top: 100px;
    font-size: 70px;
    margin-bottom: 10px;
}

#showcase p {
    color: black;
    font-style: italic;
    font-size: 30px;
}

/*Ordering*/
#ordering {
    padding: 15px;
    background: #A3DC69;
    text-align: center;
    border-bottom: #228E54 3px solid;
}

#ordering .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#ordering .box img {
    width: 120px;
    height: auto;
}

/*Features*/
#features {
    padding: 15px;
    background: seashell;
    text-align: center;
    border-bottom: #ED994C 3px solid;
}

#features .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#features .box img {
    width: 300px;
    height: auto;
}

#features .box1 {
    margin-top: 100px;
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#features .box1 img {
    width: 300px;
    height: auto;
}

/*Description*/
#description {
    padding: 15px;
    background: seashell;
}

#description h1{
    color: #ED994C;
}

#description p {
    text-align: center;
}

footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #A3DC69;
    text-align: center;
}

footer img {
    width: 30px;
    height: auto;
}