.subtitle {
    font-style: italic;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: seashell;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #228E54 3px solid;
}

header a {
    color: #228E54;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    font-weight: bold;
}

header a:hover {
    color: #ED994C;
    font-weight: bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url(headerphoto.jpg) no-repeat 0 -400px;
    background-size: cover;
    filter: opacity(50%);
    text-align: center;
    color: #228E54;
}